
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    height: auto;
    background-color: antiquewhite;
}

header{
    display: flex;
    width: 100vw;
    height: 12vh;
    background-color: rgb(220, 196, 166);
    align-items: center;

}
.icon {
    width: 20%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#icon{
    width: 45px;
}
#tit{
    margin: 0;
    height: auto;
}
.links{
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.plink{
    margin: 50px;
}
#carrinho{
    width: 30px;
    margin: 50px;
}
section{
    max-width: 100vw;
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#prim_slide{
    width: 150px;
}
#quadro {

    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  
}
.fundo {
    width: 70vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(220, 196, 166, 0.356);
}
#img{
    height: 200px;
    width: 200px;
}
#img1{
    height: 200px;
    width: 300px;
}
#img2{
    height: 200px;
    width: 300px;
}

#textocarrosel > p {
    max-width: 400px;
    width: 100%;
    margin: 0px 20px;
    text-align: justify;
}
footer{
    width: 100vw;
    height: 10vh;
    background-color: rgb(230, 218, 203);
}
.rodape{
    display: flex;
    width: 100%;
    height: 100%;
}
.midia{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.icon_midia{
    width: 20px;
    margin: 10px;
}

a{
    color: black
}